@using Maeve.Conversations
@using Blazor.Heroicons.Solid

@inject IConversationManager ConversationManager

<ul class="menu bg-base-100 w-full">
    <li class="menu-title">Conversations</li>
    @if (ConversationManager.Conversations.Length > 0) {
        @foreach (var conversation in ConversationManager.Conversations) {
            <li>
                <a class="@(conversation.Id == ConversationManager.FocusedConversation?.Id ? "menu-active" : "")" href="/conversations/@conversation.Id">
                    <ChatBubbleLeftRightIcon class="size-6"></ChatBubbleLeftRightIcon>

                    @conversation.Title
                </a>
            </li>
        }
    }
    else {
        <li class="text-center">No conversations</li>
    }
</ul>

<a class="btn btn-ghost btn-sm" href="/">
    <PlusIcon class="size-5"></PlusIcon>

    Start a new conversation
</a>

@code {
    
    // - Functions

    protected override void OnInitialized() {
        ConversationManager.OnConversationFocus += (_, _) => InvokeAsync(StateHasChanged);
        ConversationManager.OnConversationUpdate += (_, _) => InvokeAsync(StateHasChanged);
    }
}
