@inherits LayoutComponentBase

@using Blazor.Heroicons.Solid
@using Maeve.Extensions
@using Maeve.ModelProviders

@inject IModelProvider ModelProvider

<div class="flex px-10">
    <aside class="h-screen sticky top-0">
        <div class="flex flex-col gap-6 my-10">
            <a href="/">
                <div class="flex gap-2 items-end">
                    <img src="maeve.png" alt="Maeve" class="w-40"/>
                    <div class="flex flex-col">
                        <div class="text-4xl font-thin">Maeve</div>
                    </div>
                </div>
            </a>
            
            <ul class="menu bg-base-100 rounded-box w-72">
                <li>
                    <NavLink href="./" Match="NavLinkMatch.All" ActiveClass="menu-active">
                        <HomeIcon class="size-6"></HomeIcon>
                        
                        Home
                    </NavLink>
                </li>
                
                <li>
                    <NavLink href="./documents" ActiveClass="menu-active">
                        <BookOpenIcon class="size-6"></BookOpenIcon>

                        Documents
                    </NavLink>
                </li>
                
                <li>
                    <NavLink href="./mcp-servers" ActiveClass="menu-active">
                        <CpuChipIcon class="size-6"></CpuChipIcon>

                        MCP servers
                    </NavLink>
                </li>
                
                <li>
                    <NavLink href="./configuration" ActiveClass="menu-active">
                        <Cog8ToothIcon class="size-6"></Cog8ToothIcon>

                        Configuration
                    </NavLink>
                </li>
            </ul>
            
            <ConversationsMenu></ConversationsMenu>
        </div>
    </aside>
    
    <main class="px-50 w-full flex flex-col gap-10">
        <div class="min-h-48 pt-20">
            @if (_errorMessage != null) {
                <div role="alert" class="alert alert-error alert-soft min-w-2/3">
                    <FaceFrownIcon class="size-10"></FaceFrownIcon>
                    <div>
                        <h3 class="font-bold">There was a problem</h3>
                        <span>@_errorMessage</span>
                    </div>
                </div>
            }
        </div>
        
        <div>
            @Body
        </div>

    </main>
    
</div>

@code {
    
    // - Private Properties

    private string? _errorMessage;
    
    
    // - Functions

    protected override void OnInitialized() {
        if (!RendererInfo.IsInteractive) return;

        if (ModelProvider.HasConfigurationError) {
            _errorMessage = $"Failed to setup configuration for {ModelProvider.Provider.GetDescriptionAttribute()}, please verify the configuration or configure another provider.";
        }
    }
}
