@inherits LayoutComponentBase

<div class="container mx-auto">
    <div class="flex flex-col gap-6 my-10">
        <div class="flex justify-between items-end">
            <a href="/">
                <div class="flex gap-2 items-end">
                    <img src="maeve.png" alt="Maeve" class="w-40"/>
                    <div class="flex flex-col">
                        <div class="text-4xl font-thin">Maeve</div>
                        <div class="text-secondary-content font-thin">Personal assistant</div>
                    </div>
                </div>
            </a>
        </div>
            
        @Body
    </div>
</div>
